<main class="main">
    <section class="home">
<%= render "shared/home" %>
 </section>
<section class="index">
 <div class="container-fluid" id="projects">

<div class="container">
  <div class="row">
      
      <% @projects.each do |project| %>
      
    <div class="col-xs-12 col-sm-6 col-md-4 card-marging">

      <article class="card"><div class="thumb" style="background: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 60%), url('<%= project.img %>') no-repeat center; background-size:cover;"></div>
  <div class="infos">
    <h2 class="title"><%= project.name %><i class="fa <%= project.icon %> flag" aria-hidden="true"></i></h2><br>
    <h3 class="date">category : <%= project.category %></h3>
    <p class="txt">
        <br>
     <%= project.tagline %>
    </p>
    <h3 class="details"><%= link_to "link", project.link %></h3>
 <br><br> </div> <br><br>
</article>

    </div>
 
    <% end %>
   
  </div>
</div>

</div>

</section>
</main>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="owl">
<%= render "shared/owl" %>
</div>